* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  color: white; 
  font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #001428;
}

.topo {
    display: flex;
    justify-content: center;
    flex-flow: column;
    
    .banner{
        background-color:#08344e ;
        padding: 10px;

        .container{
            position: relative;
            display: flex;
            justify-content: space-between;
            
            animation: banner 3s linear infinite;
            //p{text-transform: uppercase}
        
        }
    }

    .logo{
        height: 50px;
        margin-top: 50px;
        text-align: center;

        img{
            height: 50px;
            filter: invert(1);
        }
    }

    .links{
        margin-top: 30px ;
        padding-top: 30px;

        .container{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            

            li{
              display: flex; 
              list-style: none; 

              &:hover{
                  padding: 10px 20px;
                  border: 1px solid #fff;
                  border-radius: 30px;  
                }

              ion-icon{
                  padding-right: 10px;
                  font-size: 22px;
              }

              a{
                  font-size: 19px;
                  text-decoration: none;
              }
            }
        }
    }
}

.principal{
    margin-top: 100px;

    section.motog50{
        display: flex;
        flex-flow: column !important;
        justify-content: center;

        position: relative;

        h1{
            padding: 5px;
            position: absolute;
                top:-5px;
                right:50px;

            img {
                filter: invert(1);
            }
        }

        .container{
            height: 500px;

            img{
                 height: 100%
             }
        }
        .container-texto{
            text-align: center;
        }
    }
}

