* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #001428;
}

.topo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.topo .banner-box {
  background-color: #08344e;
}

.topo .banner-box .banner {
  overflow: hidden;
}

.topo .banner-box .banner .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topo .banner-box .banner .container .box {
  position: relative;
  -webkit-animation: banner 15s ease-in-out infinite;
          animation: banner 15s ease-in-out infinite;
}

.topo .banner-box .banner .container .box p {
  width: 500px;
  text-align: center;
}

@-webkit-keyframes banner {
  0% {
    left: 0;
  }
  50% {
    left: -500px;
  }
  80% {
    left: -1000px;
  }
  100% {
    left: -1500px;
  }
}

@keyframes banner {
  0% {
    left: 0;
  }
  50% {
    left: -500px;
  }
  80% {
    left: -1000px;
  }
  100% {
    left: -1500px;
  }
}

.topo .logo {
  height: 50px;
  margin-top: 50px;
  text-align: center;
}

.topo .logo:hover {
  -webkit-filter: drop-shadow(0 0 3px);
          filter: drop-shadow(0 0 3px);
}

.topo .logo img {
  height: 50px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.topo .links {
  margin-top: 50px;
}

.topo .links .container {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topo .links .container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 17px;
  width: 180px;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #fff;
}

.topo .links .container li:hover {
  -webkit-box-shadow: 0px 0px 30px tomato;
          box-shadow: 0px 0px 30px tomato;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.topo .links .container li ion-icon {
  margin-right: 10px;
  font-size: 22px;
}

.topo .links .container li a {
  font-size: 16px;
  text-decoration: none;
}

.principal {
  margin-top: 100px;
}

.principal section.motog50 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: column !important;
          flex-flow: column !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.principal section.motog50 h1 {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 40px;
}

.principal section.motog50 h1 img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.principal section.motog50 .container img {
  width: 450px;
}

.principal section.motog50 .container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.principal section.motog50 .container-texto {
  padding: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */