* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  color: white; 
  font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #001428;
}

.topo {
    display: flex;
    justify-content: center;
    flex-flow: column;
    
    
    .banner-box{
        background-color: #08344e;

        .banner{
            overflow: hidden;
        
            .container{
                position: relative;
                display: flex;
                justify-content: space-between;

                .box{   
                    position: relative;
                    
                    animation: banner 15s ease-in-out infinite;
                    
                    p{
                        width: 500px; 
                        text-align: center;
                    }
                }   
            }
        }

        @keyframes banner {
            0% {left: 0;}
 
            50%{left: -500px;}
            
            80%{left: -1000px;}

            100%{left:-1500px;}
        }
    }

    .logo{
        height: 50px;
        margin-top: 50px;
        text-align: center;
        
        &:hover{
            filter: drop-shadow(0 0 3px);
        }

        img{
            height: 50px;
            filter:invert(1);
        }
    }

    .links{
        margin-top: 50px;
        

        .container{
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            

            li{
              display: flex; 
              justify-content: center;
              list-style: none; 
              margin: 17px;
              width: 180px;
              padding: 5px;
              border-radius: 30px; 
              border: 1px solid #fff;
              

              &:hover{
               box-shadow:0px 0px 30px tomato;
               transform:scale(1.2);
              }

              ion-icon{
                  margin-right: 10px;
                  font-size: 22px;
              }

              a{  
                  font-size: 16px;
                  text-decoration: none;
                  }
              }
            }
        }
    }


.principal{
    margin-top: 100px;

    section.motog50{
        display: flex;
        flex-flow: column !important;
        justify-content: center;

        position: relative;

        h1{
            padding: 5px;
            position: absolute;
            top:10px;
            right:40px;

            img {
                filter: invert(1);
            }
        }

        .container{
            img{
                width: 450px;

                &:hover {
                    transform:scale(1.2);
                }
             }
        }
        .container-texto{
            padding: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 3px;
        }
    }
}

